<div class="lenda">
    <h1>Lenda</h1>
</div>
<div class="zgjedhja">
    <div class="row">
        <div class="col-3 bos" (click)="Landa(div1.innerText)" #div1>Gjuhe Shqipe</div>
        <div class="col-3" (click)="Landa(div2.innerText)" #div2>Gjuhe Angleze</div>
        <div class="col-3" (click)="Landa(div3.innerText)" #div3>Gjuhe Gjermamne</div>
        <div class="col-3" (click)="Landa(div4.innerText)" #div4>Gjuhe Latine</div>
    </div>
    <div class="row">
        <div class="col-3 bos" (click)="Landa(div5.innerText)" #div5>Kimi</div>
        <div class="col-3" (click)="Landa(div6.innerText)" #div6>Fizik</div>
        <div class="col-3" (click)="Landa(div7.innerText)" #div7>Biologji</div>
        <div class="col-3" (click)="Landa(div8.innerText)" #div8>Matematike</div>
    </div>
    <div class="row">
        <div class="col-3 bos" (click)="Landa(div9.innerText)" #div9>Gjeografi</div>
        <div class="col-3" (click)="Landa(div10.innerText)" #div10>Ekonomi</div>
        <div class="col-3" (click)="Landa(div11.innerText)" #div11>Edukate Qytatare</div>
        <div class="col-3" (click)="Landa(div12.innerText)" #div12>Sport</div>
    </div>
    <div class="row">
        <div class="col-3 bos" (click)="Landa(div13.innerText)" #div13>Art</div>
        <div class="col-3" (click)="Landa(div14.innerText)" #div14>Filozofi</div>
        <div class="col-3" (click)="Landa(div15.innerText)" #div15>Muzik</div>
        <div class="col-3" (click)="Landa(div16.innerText)" #div16>Fizik</div>
    </div>
</div>