<div class="body">
    <div class="foto">
        <img src="assets/img/logo.png" alt="">
    </div>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>regjistrimi</h3>


        <label for="username">Emri</label>
        <input type="text" placeholder="Sheno emrin tend" id="username" [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="data?.error.includes('FirstName')">Emri nuk eshte i sakte</mat-error> -->
        <label for="username">Mbiemri</label>
        <input type="text" placeholder="Sheno mbiemrin " id="password " [(ngModel)]="LastName " [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="data?.error.includes('LastName')">Mbiemri nuk eshte i sakte</mat-error> -->
        <label for="username">Email</label>
        <input type="text" placeholder="Shenoni emailin tuaj" id="username" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="data?.error.includes('Email')">Emaili nuk eshte i sakte</mat-error> -->
        <!-- <mat-error *ngIf="data?.error == 'Email' ">Emaili eshte i regjistruar</mat-error> -->
        <label for="password">Shenoni nje password </label>
        <input type="password" placeholder="Krijoni nje password " id="username " [(ngModel)]="Password " [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="data?.error.includes('Password')">Passwordi nuk eshte i sakte</mat-error> -->
        <label for="username">Student id</label>
        <input type="number" placeholder="Shenoni Student id tuja" id="username" [(ngModel)]="Student_id" [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="data?.error.includes('Student_id')'">Student idja nuk eshte i sakte</mat-error> -->
        <label for="username">Student password</label>
        <input type="text " placeholder="Shenoni student passwordin tuaj " id="username " [(ngModel)]="Student_password " [ngModelOptions]="{standalone: true}">
        <!-- <mat-error *ngIf="data?.error.includes('Student_password')">Student passwordi nuk eshte i sakte</mat-error> -->
        <button (click)="signUp()">Vazhdoni</button>
    </form>
</div>